/**/*.class

# Package Files #
/**/*.jar
/**/*.war
/**/*.ear
/**/target
/**/.classpath
/**/.external
/**/src/main/generated
/**/src/main/webapp/META-INF
/**/src/main/resources/rebel.xml
/**/src/generated
/**/.apt_generated/
/**/.settings/
/**/.checkstyle
/**/.factorypath
/**/.project
/**/.directory
/**/.externalToolBuilders
/**/bin/
/**/.springBeans
/**/nb-configuration.xml
/**/.idea
/**/*.iml
/**/logs